<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <title>Spookify Login Page</title>
  </head>
  <body>
      @model spookify.Models.LoginUser
      <div id="header" class="nav justify-content-center">
         <img src="~/img/spookify2-inv.png" alt="spookify logo" class="navbar-brand d-inline-block align-top" width="300" height="150">
      </div>
        
      <div id="content" class="text-center">
            <a href="#" class="btn-facebook" id="select-button-login-fb">
                Log In with Facebook
            </a><hr>
                <br>
                <b>or</b><br>
                <form action="/login/user" method="post">
                    <input type="email" name="Email" id="reg-email" placeholder="Email address or Username"><br>
                    <input type="password" name="Password" id="reg-password" placeholder="Password"><br>
                    <button type="submit" class="js-signup-email-submit" id="login-button-email-submit">Log In</button><br>
                </form>
            <div asp-validation-summary="All"></div>
            <b><p class="haveaccount">Don't have an account? <a href="/register" class="login">Register</a></p></b>
            <b><a class="login" href="forgot">Forgot your username or password?</a></b><br>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>